<h1>New York Times Bestsellers Search</h1>
<form action="javascript:void(0)">
  <label>Search: 
  <input type='text' id='search-field' placeholder='e.g. Rachel Maddow'></label>
  <input type='submit' value='Submit'>
</form>